---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.a.art_gallery {color: #aaaaaa;}
.art_gallery {background-color: #000000; color: #aaaaaa;}
.art_gallery_indent {margin-left: 5%}
.art_gallery_photo {margin: 5% !important; width:90% !important;}
.art_gallery_photo_item {margin: 5%; border-radius: 10px; height: 30% !important; width: 30% !important}
