---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.art_gallery {background-color: #000000;}
.art_gallery_photo {margin: 5%; width:90%;}
.art_gallery_photo_item {margin: 5%; border-radius: 10px; height:30%; width:30%}
