// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.read-more{
  text-align: right;
  font-size: $small-font-size;
}

.logo {
  vertical-align: left;
  height: 150px;
  width: 150px;
}

.site-title::before {
	content: url("logo.svg");
	display: inline-block;
	position: relative;
	width: 50px;
  height: 50px;
	top: 5px;
}
